<a href="https://colab.research.google.com/github/k-gorshkov/Innopolis/blob/main/%D0%97%D0%B0%D0%BD%D1%8F%D1%82%D0%B8%D1%8F_%D0%B2_%D0%98%D0%BD%D0%BD%D0%BE%D0%BF%D0%BE%D0%BB%D0%B8%D1%81%D0%B5%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
!apt-get install -y git

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
git is already the newest version (1:2.34.1-1ubuntu1.10).
0 upgraded, 0 newly installed, 0 to remove and 16 not upgraded.

In [ ]:
!git config --global user.name "kgorshkov"
!git config --global user.email "k.gorshkov@list.ru"

In [ ]:
!git pull origin master

fatal: not a git repository (or any of the parent directories): .git

In [ ]:
!git clone https://github.com/k-gorshkov/Innopolis.git

Cloning into 'Innopolis'...
warning: You appear to have cloned an empty repository.

In [ ]:
data = pd.read_csv("http://intersyn.net/Churn.csv")

In [ ]:
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2.0,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1.0,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8.0,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1.0,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2.0,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5.0,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10.0,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7.0,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3.0,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,NaN,130142.79,1,1,0,38190.78,0

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           9091 non-null   float64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

In [ ]:
data.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,9091.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,4.997690,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.894723,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,2.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [ ]:
df = pd.read_csv("shootings_USA.csv")

In [ ]:
df

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,arms_category,years_in_prison
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,Asian,Shelton,WA,True,attack,Not fleeing,False,Guns,4
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,White,Aloha,OR,False,attack,Not fleeing,False,Guns,20
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,Hispanic,Wichita,KS,False,other,Not fleeing,False,Unarmed,0
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,White,San Francisco,CA,True,attack,Not fleeing,False,Other unusual objects,4
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,Hispanic,Evans,CO,False,attack,Not fleeing,False,Piercing objects,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4840,5916,Rayshard Brooks,2020-06-12,shot,Taser,27.0,M,Black,Atlanta,GA,False,attack,Foot,True,Electrical devices,2
4841,5925,Caine Van Pelt,2020-06-12,shot,gun,23.0,M,Black,Crown Point,IN,False,attack,Car,False,Guns,3
4842,5918,Hannah Fizer,2020-06-13,shot,unarmed,25.0,F,White,Sedalia,MO,False,other,Not fleeing,False,Unarmed,1
4843,5921,William Slyter,2020-06-13,shot,gun,22.0,M,White,Kansas City,MO,False,other,Other,False,Guns,19
4844,5924,Nicholas Hirsh,2020-06-15,shot,gun,31.0,M,White,Lawrence,KS,False,attack,Car,False,Guns,7

In [ ]:
pd.read_excel("Russia.xlsx")

,Наименование,Средняя продолжительность жизни ЖЕНЩИН,"Младенческая смертность, число детей, умерших в возрасте до 1 года, на 1000 родившихся живыми",Заболеваемость на 1000 человек населения,Численность населения на одну больничную койку,"Уровень безработицы населения в возрасте 15-72 лет, %","Численность студентов, обучающихся по программам бакалавриата, специалитета, магистратуры на 10 000 человек населения, всего","Среднемесячная номинальная начисленная заработная плата работников организаций, руб.",Кол-во преступлений (наркотики) на 1000 человек,Кол-во преступлений экономической направленности на 1000 человек,"Выявлено лиц, совершивших преступления в состоянии алкогольного опьянения на 1000 человек"
0,Алтайский край,75.16,4.8,987.5,110.0,5.9,216,30072,0.797099,0.425091,3.743387
1,Амурская область,72.79,5.4,807.1,105.3,6.0,185,52430,1.511308,0.506301,3.698528
2,Архангельская область без автономного округа,77.01,3.2,945.6,123.7,7.4,160,55891,0.363412,0.862303,3.259723
3,Астраханская область,76.35,5.8,608.3,115.4,7.8,294,38885,0.934596,0.725803,2.305669
4,Белгородская область,77.12,3.8,714.0,143.9,4.9,300,37442,0.418939,0.395701,1.299421
...,...,...,...,...,...,...,...,...,...,...,...
80,Чеченская Республика,74.65,6.1,309.0,158.9,18.5,227,29771,0.294848,0.384114,0.100086
81,Чувашская Республика — Чувашия,76.84,2.1,828.1,117.0,6.1,285,31844,0.828531,0.915572,1.789266
82,Чукотский автономный округ,68.81,14.7,1182.2,77.6,4.4,28,120641,0.218740,1.034044,5.229876
83,Ямало-Ненецкий автономный округ,76.21,3.6,1249.4,131.8,2.4,7,111216,0.543674,0.444490,2.935104
84,Ярославская область,76.19,3.7,818.6,109.2,7.3,252,37820,0.361420,0.568060,1.844599